{# item.html citation {{ item.citation }}, body {{ item.body }} <br/> #}
{% if item.title %}
  {# title #}
  <div class="title">{% include "opp/item_link.html" with item_first=item %}
    {% include "opp/chunks.html" with chunks=item.title %}
  </div>
  <div class="body">
    {% include "opp/blocks.html" with blocks=item.body item_first='' nested=True %}
{% else %}
  <div class="notitle item">
    {# notitle #}
    {% include "opp/blocks.html" with blocks=item.body item_first=item %}
{% endif %}
    {% for type, number, text in item.notes %}
      <div><span class="{{ type }}">{% if number is not None %}<sup>{{ number }}</sup>{% endif %}
      <span class="{{ type }}-tag">{{ type }}.</span> {{ text }}</span></div>
    {% endfor %}
  </div>
{# end item.html <br/> #}
