{# item.html citation {{ item.citation }}, body {{ item.body }} <br/> #}
{% if item.title %}
{# title #}
<div class="title"><a href="{{ item.url }}">{{ item.number }}</a>:
{% include "opp/chunks.html" with chunks=item.title %}</div>
<div class="body">
{% include "opp/blocks.html" with blocks=item.body first='' %}
</div>
{% else %}
<div class="notitle">
{# notitle #}
{% include "opp/blocks.html" with blocks=item.body
                                  first='<a href="{{ item.url }}">{{ item.number }}</a>: ' %}
</div>
{% endif %}
{# end item.html <br/> #}
