/* opp.css */

/* new stuff: */

/* An item with a title:

  <div class="title">citation: title</div>
  <div class="body">
    ...
  </div>

An item without a title:

  <div class="notitle">citation: first paragraph
    ...
  </div>

*/

div {
  text-indent: 0;
}

.title {
  text-indent: -22pt;
  padding-left: 22pt;
}

.notitle {
  text-indent: -12pt;
  padding-left: 12pt;
}

.body {
  padding-left: 12pt;
} 


/* old stuff: */
ul.toc {
  list-style-type: none;
  margin: 0;
  padding-left: 12pt;
}

ul.toc.root {
  padding-left: 22pt;
}

/*
ul.toc.root > li.toc > ul.toc {
  padding-left: 32pt;
}
*/

li.toc {
  text-indent: -22pt;
}

/*
ul.toc.root > li.toc {
  text-indent: 0;
}
*/

/* vim: set sw=2 */
