/* opp.css */

/* new stuff: */

/* An item with a title:

  <div class="title">citation: title</div>
  <div class="body">
    ...
  </div>

An item without a title:

  <div class="notitle">citation: first paragraph
    ...
  </div>

*/

div {
  text-indent: 0;
}

.title {
  text-indent: -22pt;
  padding-left: 22pt;
}

.notitle {
  text-indent: -12pt;
  padding-left: 12pt;
}

.body {
  padding-left: 12pt;
} 

/* tooltips */

.tooltip {
  /* position: relative;
  display: inline-block;
  */
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color: black;
  color: white;
  /* text-align: center; */
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* search highlights */

.search-term-1 {
  background-color: yellow;
}

.search-term-2 {
  background-color: green;
}

.search-term-3 {
  background-color: blue;
}

.search-term-4 {
  background-color: cyan;
}

.search-term-5 {
  background-color: magenta;
}


/* Misc */

.error {
  color: red;
}

.definition-link {
  color: #aaf;
}


/* History */

.history {
    font-size: smaller;
}

.history-tag {
    font-weight: bold;
}

/* Notes */

.note {
    font-size: smaller;
}

.note-tag {
    font-weight: bold;
}

/* vim: sw=2
 */
