/* opp.css */

/* new stuff: */

/* An item with a title:

  <div class="title">citation: title</div>
  <div class="body">
    ...
  </div>

An item without a title:

  <div class="notitle">citation: first paragraph
    ...
  </div>

*/

div {
  text-indent: 0;
}

.title {
  text-indent: -22pt;
  padding-left: 22pt;
}

.notitle {
  text-indent: -12pt;
  padding-left: 12pt;
}

.body {
  padding-left: 12pt;
} 


/* History */

.history {
    font-size: smaller;
}

.history-tag {
    font-weight: bold;
}

/* Notes */

.note {
    font-size: smaller;
}

.note-tag {
    font-weight: bold;
}

/* vim: set sw=2 */
